# Test config for Linux MCU

[stepper_x]
step_pin: gpio0..0
dir_pin: gpio0..1
enable_pin: gpio0..2
microsteps: 16
rotation_distance: 40
endstop_pin: ^gpio0..3

[stepper_y]
step_pin: gpio0..4
dir_pin: gpio0..5
enable_pin: gpio0..6
microsteps: 16
rotation_distance: 40

[stepper_z]
step_pin: gpio0..7
dir_pin: gpio0..8
enable_pin: gpio0..9
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: gpio0..10
dir_pin: gpio0..11
enable_pin: gpio0..12
microsteps: 16
rotation_distance: 33.5

[heater_bed]
heater_pin: gpio0..13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio0..14

[fan]
pin: gpio0..15

[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
